@use '../components/variables' as *;
@use '../components/mixins' as *;

.services {
	padding: $section-padding 0;
	--gap: 100px;
	.container {
		@include flex(center, space-between);
		gap: var(--gap);
		@include laptop {
			flex-direction: column;
		}
	}
	&__info {
		min-width: 500px;
		text-align: end;
		@include tablet {
			max-width: 100%;
		}
		h2 {
			margin-bottom: 3rem;
			color: $text-color;
			font-weight: 700;
			font-size: 2rem;
			@include tablet {
				text-align: center;
			}
		}
		p {
			text-align: start;
			line-height: 1.8;
			font-size: 1rem;
			color: $text-color-light;
			margin-bottom: 2rem;
		}
	}
	&__menu {
		@include flex();
		flex-wrap: wrap;
		gap: 20px;
		&__item {
			position: relative;
			overflow: hidden;
			box-shadow: $shadow;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 0.4rem;
				width: 100%;
				height: 100%;
				transform: scaleX(0);
				transform-origin: center left;
				background-color: $primary;
				z-index: -1;
				transition: transform 550ms;
			}
			width: 100%;
			@include flex(flex-start, flex-start);
			padding: 1.25rem;
			border-radius: 0.4rem;
			.icon {
				width: 4rem;
				height: 4rem;
				@include flex;
				svg {
					max-width: 100%;
				}
			}
			.data {
				margin-left: 2rem;
				align-self: stretch;
				@include flex;
				h4 {
					color: $text-color;
					width: fit-content;
					width: 100%;
				}
				p {
					overflow: hidden;
					height: 0;
					width: 100%;
					font-size: 1rem;
					color: $white;
					font-weight: 500;
					transition: all 0.3s;
				}
			}
			&:hover {
				&::after {
					transform: scaleX(1);
				}
				.data {
					flex-wrap: wrap;
				}
				h4 {
					margin-bottom: 1rem;
				}
				p {
					height: 4rem;
				}
			}
		}
	}
}
