@use '../components/variables' as *;
@use '../components/mixins' as *;
.btn {
	padding: $btn-padding;
	border-radius: $border-radius;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	transition: 325ms;
	&-contained {
		background-color: $white;
		color: $black;
		&:hover {
			border: 1px solid $white;
			background-color: transparent;
			color: $white;
		}
	}
	&-primary {
		background-color: $primary;
		color: $white;
		&:hover {
			border: 1px solid $primary;
			background-color: transparent;
			color: $primary;
		}
	}
	&-outlined {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;
		&:hover {
			background-color: lighten($black, 20%);
			border-color: lighten($black, 20%);
			color: $white;
		}
	}
}
.btn-group {
	--gap: 1.5rem;
	@include flex();
	margin-left: calc(-1 * var(--gap));
	margin-right: calc(-1 * var(--gap));
	.btn {
		margin: 0 calc(var(--gap) / 2);
	}
}
